body{
  width: 100%;
  height: 100%!important;

}
html{
  width: 100%;
  height: 100%; 
}

  a.current:link, a.current:visited {
    color: white;
    background-color: blue;
  }
  nav:link,nav:visited{
    color: blue;

  }
  .boton_personalizado  {
    font-size: 20px;
   text-align: right;
margin-top: -100px; 
font-family: Georgia, 'Times New Roman', Times, serif;
color: black !important;
  }

  .logo{
    float: left;
    text-align:center;
    display: flex;
  }

  
  .Texto_Nav{
    text-align:center !important;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
  }

  .Navbar_Enlaces{
    text-align: center!important;
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
background-image:url("../imagenes/fondo.jpg")!important;
color:white!important;
margin-bottom: 50px;

  }
  .nav-link{
    color:white !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color:white;
  }

.iconos-sociales{
color:white !important;
filter: invert(1)!important;


}
  .iconos-sociales img{ 
    transition:all 0.5s ease-out;
    height:"48px" ;
    width:"48px";
    color:white !important;
  
  }
  
    .iconos-sociales img:hover{
    transform: rotate(360deg);
    border-radius:50px;
  }
 
  .sing-in{
background-color: rgba(255, 255, 255, 0.438) !important;
font-family: Georgia, 'Times New Roman', Times, serif;
border-radius: 50px;
  }
  .btnLogin{
    background-color: rgba(0, 0, 0, 0.609) !important;
    color:white !important;
    width: 90%;
  }
  .Registro{

    font-weight:bold;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .fondoLogin{

    background-image: url('../imagenes/galaxi.png')!important;
    opacity:1!important;
  }

.btn_ojo{

  background-color: rgba(0, 0, 0, 0.637)!important;
  
}
.icon{
  color:rgba(255, 255, 255, 0.753);
}



